<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="filter">
  <button (click)="filterByGender('male')" >Male</button>
  <button (click)="filterByGender('female')" >Female</button>
  <button (click)="loadCharacters()">Show All</button>

<div>
  <input [(ngModel)]="searchCharacter" placeholder="Buscar personaje" />
  <button (click)="searchCharacters()">Buscar</button>
</div>


</div>
<!----------------------------------------CHARACTER MENU------------------------------------------------------->
<div  id="speciesFilter" >
  <label id="speciesFilter"  style="color:aliceblue"><strong>Select a Species:</strong> </label>
  <select id="speciesFilter" [(ngModel)]="selectedSpecies" (change)="filterBySpecies()">
    <option value="alien">Alien</option>
    <option value="human">Human</option>
    <option value="humanoid">Humanoid</option>
    <option value="animal">Animal</option>
    <option value="robot">Robot</option>
    <option value="mythological creature">Mythological Creature</option>
    <option value="disease">Disease</option>
    <option value="cronenberg">Cronenberg</option>
  </select>
</div>
<label id="FilterS"  style="color:aliceblue"><strong>Select a Species:</strong> </label>
<!----------------------------------------CAROUSEL--------------------------------------------------------------->

<div>
  <button id="newButton" *ngFor="let characterName of uniqueSearchedCharacters" (click)="searchCharacterByName(characterName)">{{ characterName }}</button>
</div>

<div *ngIf="characters.length > 0">
  <!-- Aquí muestra los resultados de búsqueda -->
  <div *ngFor="let character of characters">
    <!-- <p>{{ character.name }}</p> -->
  </div>
</div>








<carousel id="carousel" [itemsPerSlide]="1" [showIndicators]="true">
  <slide>
    <div class="image-container">
      <img src="https://cdn.worlddata.info/pics/og/volcanoes.jpg" alt="Imagen 1" height="300">
    </div>
  </slide>
  <slide>
    <div class="image-container">
      <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/123A/production/_118066640_gettyimages-1231998800.jpg" alt="Imagen 2" height="300">
    </div>
  </slide>
  <slide>
    <div class="image-container">
      <img src="https://cdn.britannica.com/64/248964-138-C9CF1DD3/what-are-volcanoes-lava-flows.jpg?w=800&h=450&c=crop" alt="Imagen 3" height="300">
    </div>
  </slide>
</carousel>






<!------------------------------------------CHARACTER CARDS------------------------------------------------------------->


<div class="row">
  <div *ngFor="let character of characters" class="col-md-3 mb-3">
    <div class="card" style="width: 18rem;">
      <img [src]="character.image" class="card-img-top img-container" alt="{{ character.name }}">
      <div class="card-body">
        <ul>
          <li>Name: <strong>{{ character.name }}</strong></li>
          <li>Status: <strong>{{ character.status }}</strong></li>
          <li>Species: <strong>{{ character.species }}</strong></li>
          <li>Gender: <strong>{{ character.gender }}</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-----------------------------------PAGINATION AND RESET--------------------------------------------------------->
  <div class="pagination">
    <button (click)="getCharacters(currentPage - 1)" class="btn btn-info" [disabled]="currentPage === 1">Previous</button>
    <span><strong style="color:aliceblue"><h2>{{currentPage}}</h2></strong></span>
    <button (click)="getCharacters(currentPage + 1)" class="btn btn-info">Next</button>
    <form>
      <button (click)="resetPage()" class="btn btn btn-info rest"
      style="width: auto;"
      >Reload page
      </button>
    </form>
  </div>
</div>

