/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('../src/assets/pepinillo.jpg');
  background-size:auto;
  background-repeat: repeat;
  background-attachment: fixed;
}
